$font-stack: 'IBM Plex Mono', Consolas, Monaco, Courier, monospace;
$font-size: 12px;

html {
  width: 60%;
  margin: 10em auto;
}

html, body {
  font-family: $font-stack;
  font-weight: 300;
  font-size: $font-size;
}

nav {
  line-height: 0.5 * $font-size;
  background-color: $white;
  display: block;
  padding-bottom: 0.4 * $font-size;
  position: fixed;
  z-index: 1;

  li {
    margin: 0 0 0 -0.9em;
    display: block;
    padding: 0.5rem 1rem;
  }

  .nav-link {
    display: block;
    padding: 0;
  }

  // a {
  //   color: $black;
  //   text-decoration: underline;
  //
  //   &:hover {
  //     color: $blue;
  //   }
  // }
}

p {
  padding-bottom: 0.5 * $font-size;
}

a {
  color: $black;
  text-decoration: underline;

  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}

em {
  color: $black;
  font-weight: 500;
  font-style: normal;
}

.btn {
  border-radius: 0;

  a {
    color: $white;
  }

}

.home {
  line-height: 0.5 * $font-size;
  padding-bottom: 1 * $font-size;
}

.copy {
  font-weight: 400;
  font-size: 2 * $font-size;
  line-height: 2.5 * $font-size;
  min-height: 70vh;
  padding-bottom: 5 * $font-size;

  a {
    font-weight: 500;
  }
}

.card {
  margin-bottom: 3em;
}

@media (max-width: 991.98px) {
  .show-on-desktop, .hide-on-mobile {
    display: none;
  }

  html {
    width: 95%;
    margin: 3em auto;
  }

  main {
    margin-top: 3em;
  }
}

@media (min-width: 992px) {
  .hide-on-desktop, .show-on-mobile {
    display: none;
  }

  html {
    width: 80%;
  }
}
