<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">

        <!-- link home goes here -->
        <div class="col">
            <div class="path"><em><a href="/index.html">calebng</a></em></div>
        </div>

        <!-- column break -->
        <div class="w-100"></div>

        <!-- navigation bar goes here -->
        {% include nav.html %}

        <!-- main body container -->
        <main class="col-sm-12 col-lg-9">
          <div class="copy">
            <!-- main content goes here -->
            {{ content }}
          </div>

          <!-- secondary / scroll content goes here -->
          {% include portfolio_content.html %}

          <!-- not so sure footer should even be here... -->
          {% include footer.html%}
        </main>
      </div>
    </div>
  </body>
</html>
