<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">

        <!-- fake breadcrumbs goes here -->
        <div class="col">
            <div class="path"><em><a href="/index.html">calebng</a></em></div>
        </div>

        <!-- column break -->
        <div class="w-100"></div>

        <!-- navigation bar goes here -->
        {% include nav.html %}

        <!-- main body container -->
        <div class="col-sm-12 col-lg-9">
          <!-- main content goes here -->
          <main>
            {{ content }}
          </main>

          <!-- not so sure footer should even be here... -->
          {% include footer.html%}
        </div>
      </div>
    </div>
  </body>
</html>
