$font-stack: 'IBM Plex Mono', Consolas, Monaco, Courier, monospace;
$font-size: 10px;

html {
  width: 60%;
  margin: 10em auto;
}

html, body {
  font-family: $font-stack;
  font-weight: 300;
  font-size: $font-size;
}

p {
  padding-bottom: 0.3em; 
}

.path {
  font-weight: 400;
  font-size: 1.2 * $font-size;
  line-height: 0.5 * $font-size;
  color: $gray-400;
  background-color: $white;
  padding-bottom: 1.5 * $font-size;

  em {
    font-weight: 700;
    font-style: normal;
    color: $black;
  }
  
  a {
    color: $black;
    text-decoration: underline;
    
    &:hover {
      color: $blue;
    }
  }
}

.copy {
  font-weight: 400;
  font-size: 2 * $font-size;
  line-height: 2.5 * $font-size;

  a {
    font-weight: 700;
    text-decoration: underline;
    color: $black;

    &:hover {
      color: $blue;
    }
  }
}

nav {
  background-color: $white;
  padding-bottom: 1.5 * $font-size;
  font-size: 1.2 * $font-size;
  line-height: $font-size;
  
  li {
    margin: 0 0 0 -0.9em;
    display: block;
    padding: 0.5rem 1rem;
  }
  
  .nav-link {
    display: block;
    padding: 0;
  }

  a {
    text-decoration: underline;
    color: $black;

    &:hover {
      color: $blue;
    }
  }
}

@media (max-width: 768px) {
  html {
    width: 100%;
    margin: 3em auto;
  }
}

@media (max-width: 992px) {
  html {
    width: 80%;
  }
}