$font: 'IBM Plex Mono', Consolas, Monaco, Courier, monospace;

html, body {
    font-family: $font;
    font-weight: 300;
    margin: 3% auto;
}

.copy {
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    
    a {
        font-weight: 700;
        text-decoration: underline;
        color: $black;
    }
}

nav .a {
    font-size: 18px;
    line-height: 23px;
}